competition_dataset/abundance_table.csv:Zone.Identifier
competition_dataset/competition-dataset_description.pdf:Zone.Identifier
competition_dataset/competition-getting_started.ipynb:Zone.Identifier
competition_dataset/env_parameter_sample.csv:Zone.Identifier
competition_dataset
competition_dataset.zip

.competition_dataset/abundance_table.csv:Zone.Identifier
.competition_dataset/competition-dataset_description.pdf:Zone.Identifier
.competition_dataset/competition-getting_started.ipynb:Zone.Identifier
.competition_dataset/env_parameter_sample.csv:Zone.Identifier
.competition_dataset
.competition_dataset.zip

/competition_dataset/abundance_table.csv:Zone.Identifier
/competition_dataset/competition-dataset_description.pdf:Zone.Identifier
/competition_dataset/competition-getting_started.ipynb:Zone.Identifier
/competition_dataset/env_parameter_sample.csv:Zone.Identifier
/competition_dataset
/competition_dataset.zip